{% extends "base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.author }}</a>
          <small class="text-muted">{{ object.date|date:"F d, Y" }}</small>
            {% if object.author == user %}
                <a class="btn btn-secondary btn-sm mb-2" href="{% url 'postupdate' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mb-2" href="{% url 'postdelete' object.id %}">Delete</a>
            {% endif %}
        </div>
        <h3 class="article-title">{{ object.title }}</h3>
        <p class="article-content">{{ object.content }}</p>
      </div>
    </article>
{% endblock content %}