{% extends "base.html" %}
{% block content %}
    <h1><center> About page</center></h1><hr>
    <br>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Augue eget arcu dictum varius duis at. Velit sed ullamcorper morbi tincidunt ornare.
        Vitae elementum curabitur vitae nunc sed velit dignissim sodales. Ultricies lacus sed turpis tincidunt id aliquet.
        Sed id semper risus in hendrerit gravida rutrum quisque non. Tincidunt dui ut ornare lectus sit amet est placerat in.
        Non quam lacus suspendisse faucibus. Sit amet consectetur adipiscing elit duis tristique sollicitudin nibh.
        Interdum consectetur libero id faucibus nisl tincidunt. Dolor morbi non arcu risus. Tempor nec feugiat nisl pretium
        fusce id velit. Gravida quis blandit turpis cursus in hac habitasse platea dictumst.</p>

    <p> Vitae suscipit tellus mauris a diam maecenas sed enim. Consequat semper viverra nam libero justo
        laoreet sit. Facilisis sed odio morbi quis commodo odio aenean. Diam in arcu cursus euismod quis viverra nibh.
        Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Ultricies tristique nulla aliquet enim
        tortor at. Etiam erat velit scelerisque in. Id semper risus in hendrerit gravida rutrum quisque. Nisl rhoncus
        mattis rhoncus urna neque viverra justo nec ultrices. Nulla posuere sollicitudin aliquam ultrices sagittis orci a.
        Amet volutpat consequat mauris nunc. Pellentesque habitant morbi tristique senectus et netus et. Diam in arcu cursus
        euismod quis viverra. Quam pellentesque nec nam aliquam sem et tortor consequat id. Amet est placerat in egestas
        erat imperdiet sed euismod. Consequat semper viverra nam libero justo laoreet. Leo a diam sollicitudin tempor.</p>

{% endblock content %}